ul {
    list-style-type: none;
}

.prev {
    float: left;
}

.next {
    float: right;
}

.month {
    width: 100%;
    text-align: center;
    padding: 25px;
    background-color: rgb(245, 175, 0);
}

.day ul {
    text-align: center;
    padding: 10px 0;
    margin: 0;
    display: block;
    float: left;
}

.day li {
    border: 0.5px solid rgb(225, 192, 245);
    display: block;
    float: left;
    text-align: center;
    width: 13.6%;
    margin: 0;
    padding-top: 30px
}

.calendar li {
    border: 0.25px solid rgb(213, 219, 245);
    display: block;
    float: left;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    margin: 0;
    padding-bottom: 40px;
}